/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #4b6cb7, #182848);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.password-generator {
    width: 400px;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.password-generator .title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.password-generator .password {
    background-color: #f3f3f3;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    color: #333;
    margin-bottom: 10px;
    word-break: break-word;
}

.length,
.settings,
.buttons,
.saved-passwords {
    margin-top: 15px;
}

.length input {
    width: 100%;
    accent-color: #4b6cb7;
}

.settings .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.settings input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #4b6cb7;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}

.settings input[type="text"]:focus {
    border-color: #4054b2;
    box-shadow: 0 0 5px rgba(75, 108, 183, 0.5);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    background: #4b6cb7;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0 5px;
}

button:hover {
    background: #4054b2;
}

.saved-passwords ul {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.saved-passwords ul li {
    background: #eee;
    color: #333;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saved-passwords ul li button {
    background: #ff4c4c;
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
    margin-left: 10px;
}

.saved-passwords ul li button:hover {
    background: #d33;
    transform: scale(1.05);
}